<div class="mi">
  {{#link-to 'index' class='h1 mi_ttl aa_text--center aa_text--bold aa_display--block'}}MUSIC{{/link-to}}

  <h6 class="mi_sub aa_text--center aa_nomargin">LIBRARY</h6>

  {{outlet}}
</div>